section#intro.colorbg{

background-color: #3179a7 !important;

}
section#contact.colorbg{
	background-color: #fff !important;
}
.tr{

	color: #fff;
	}
	.icon-feature {

		    border-radius: 0%; 
		    margin-bottom: 0px; 
		    padding-top: 0px; 
		    width: 140px;
		    height: 100px;
	}

	.play{
    width: 134px;
    height: 96px;
    display: none;
    position: absolute;
        overflow: hidden;
    
}
.wpb_wrapper .icon-feature:hover .play{
	margin-top: -95px;
	display: block !important;
}
object#MediaPlayerOverview {
    /*background-color: transparent !important;*/
}
div#MediaPlayerOverview_wrapper{
	/*float: left;*/
	/*height: 100px;*/
}
a.navbar-brand {
    padding-top: 0px !important;
}
.openpanel1, .demo-panel1{
	top:160px !important;
}.openpanel2, .demo-panel2{
	top:248px !important;
}.openpanel3, .demo-panel3{
	top:340px !important;
}
.demo-panel0{
	top:70px !important;
}

a.openpanel1, a.openpanel2, a.openpanel3, a.openpanel0 {
    _background-image: none;
    background: #f4f6f7;
    padding: 8px 10px 6px 10px;
    border-left: none;
    color: #fff;
    display: block;
    left: 0;
    text-align: center;
    font-size: 24px;
    top: 70px;
    z-index: 99999;
    position: fixed;
    _position: absolute;
    border-left: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow:hidden;
}
.none{
	display:none !important;
}
.block{
	display:block;
}
a.active.openpanel{
	left:0px !important;
}
.demo-panel{
	left: 31px !important;
	width: auto !important;
    min-width: 300px;
    background: transparent !important;
    border:0px !important;
}
.op img{
	border-radius: 50%;
    height: 50px;
    width: 50px;
}

.op {
	padding: 5px !important;
}
	    
	.demo-panel h6{
		margin-bottom: 0px !important;
	}
	.padd {
    background-color: #f4f6f7;
    margin-left: 40px;
    color: black;
}

.playing {
    position: fixed;
    bottom: 0;
    height: 80px;
    /*background-color: red;*/
    background-color:rgba(000,000,000,0.7);
    width: 100%;
    z-index: 1000;
    
}
.anythingSlider-default .anythingWindow{
    border:none !important;
}
div#wrapper1{
    height:100%;
    overflow:hidden;
}
.anythingSlider-default{
    padding:0px 45px !important;
}
li.panel.activePage img {
    /*max-width: 100% !important;
    height: auto !important;
    width: initial !important;
    height: initial !important;*/
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.anythingSlider.anythingSlider-default.activeSlider{
    overflow:hidden !important;
    height: 80px !important;
}
li.cloned.panel, li.panel.activePage,li.panel{
    height: 80px !important;
}
.table table{
    position: fixed;
    bottom: 10px;
    right: 0px;
}
.anythingSlider-default .arrow a{
    margin: -72px 0 0 0 !important;
}
li.panel .container{
        padding-top: 16px;
}
.white{
    color:white;
}
.boplay{
    position: fixed;
    bottom: 80px;
    right: 10%;
    background-color: rgba(000,000,000,0.7);
    width: 20px;background-color
    text-align:center;
    z-index: 1;
}
.boplay a{
    color:white!important;
    text-decoration:none;
}.boplay a:hover{
    color:#2a6496!important;
}
.m{
    bottom:-80px;
}
.m1{
    bottom:0px;
}
.menu, .tgg{
    transition:1s;
}
.flecha1{
    transform: rotate(180deg);
        transition: 1s all ease-in-out;
}
#tgg{
    font-family: 'Open Sans',sans-serif;
}
.playing1 > p{
    /*display:none;*/
    height:0px !important;
    overflow:hidden;
}